
@{
    Layout = null;
}

<link href="~/Content/style.css" rel="stylesheet" />
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
</head>
<body>
    <div class="card">
        <p class="box1"><span>OTELLER</span></p>
        <p class="box2"><span>RESTORANLAR</span></p>
        <p class="box3"><span>MÜZELER</span></p>
    </div>
</body>

</html>
