
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://cdn.elearningindustry.com/wp-content/uploads/2024/03/How-To-Make-A-Remote-Worker-Happier-Actionable-Ideas-Every-Leader-Can-Try.jpg" alt="Jane" style="width:450; height:315px">
            <div class="container">
                <h2>Emre Yıldırım</h2>
                <p class="title">Frontend Geliştirme</p>
                <p>emrey@hotmail.com</p>
                <p><button class="button">Mesaj Bırak</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://img.freepik.com/free-photo/young-woman-with-hair-bun_273609-14811.jpg" alt="Mike" style="width:450; height:315px">
            <div class="container">
                <h2>Eslem Demir</h2>
                <p class="title">Editör</p>
                <p>eslemd@gmail.com</p>
                <p><button class="button">Mesaj Bırak</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://imageio.forbes.com/specials-images/imageserve/626c0ebfb6fe3e1bb9874a2d/Business-Video-Conference/0x0.jpg?width=960&dpr=1" alt="John" style="width:100%">
            <div class="container">
                <h2>Şeyda Coşkun</h2>
                <p class="title">Backend Geliştirme</p>
                <p>şeyda_c@yahoo.com</p>
                <p><button class="button">Mesaj Bırak</button></p>
            </div>
        </div>
    </div>
</div>